
@{
    ViewBag.Title = "No Encontrado";
}

<h1 class="mb8">El recurso solicitado no ha sido encontrado</h1>

<a href="@Url.Action("Index","Home")" class="btn btn-default">Clic aquí para regresar a Inicio.</a>
